<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <div th:replace="~{fragments/header::header}"/>
  </head>
<body>
<nav th:replace="~{fragments/header :: nav}"/>

<div class="container">
  <div class="row">
    <h1>更新门店 </h1>
  </div>
</div>

<form th:action="@{'/store/save'}" th:object="${store}" method="post">
  <div class="form-group">
    <label for="id">门店编号</label>
    <input type="text" class="form-control" th:field="*{id}" id="id"  >
    <label for="storename">门店名称</label>
    <input type="text" class="form-control" th:field="*{storename}" id="storename"  >
    <label for="storeAddress">门店地址</label>
    <input type="text" class="form-control"  th:field="*{storeAddress}" id="storeAddress">
    <label for="storeContactNumber">联系电话</label>
    <input type="text" class="form-control"  th:field="*{storeContactNumber}" id="storeContactNumber">
    <label for="storeLevel">门店级别</label>
    <select class="form-control" th:field="*{storeLevel}" id="storeLevel">
      <option th:value="1" th:text="顶级"></option>
      <option th:value="2" th:text="一级"></option>
      <option th:value="3" th:text="二级"></option>
    </select>
    <label for="parentStoreId">上级门店编号</label>
    <input type="text" class="form-control" name="parentStoreId" th:field="*{parentStoreId}" id="parentStoreId">
    <label for="storeAdmin">门店经理</label>
    <input type="text" class="form-control"  th:field="*{storeAdmin}" id="storeAdmin">
    <input type="hidden" name="curMode" id="curMode">
    <input type="hidden" name="id" th:field="*{id}">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <a type="button" class="btn btn-secondary" th:href="@{/home}">Cancel</a>
</form>
<div th:replace="~{fragments/footer ::footer}"/>
</body>
</html>