<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <div th:replace="~{fragments/header::header}"/>
</head>
<body>
<div th:replace="~{fragments/header::nav1}"/>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <a th:href="@{/user/new}" class="btn btn-primary btn-sm mb-3"> 增加用户</a>
    </div>
  </div>
  <div th:if="${users.stream().count()==0}">没有用户</div>
  <table class="table table-striped table-bordered" th:if="${users.stream().count()>0}">
    <thead class="primary">
    <tr>
      <th>用户账号</th>
      <th>用户姓名</th>
      <th>活动状态</th>
      <th>生效时间</th>
      <th>用户角色</th>
      <th>用户门店</th>
<!--      <th>密码</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.getUsername()}"></td>
      <td th:text="${user.getDisplayName()}"></td>
      <td th:text="${user.isActive()}"></td>
      <td th:text="${user.getEffectiveData()}"></td>
      <td th:text="${user.getRoles()}"></td>
      <td th:text="${user.getScopes()}"></td>
<!--      <td th:text="${user.getPassword()}"></td>-->
    </tr>
    </tbody>
  </table>


</div>
<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>