<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/header::header}"/>
</head>
<body>
<nav th:replace="~{fragments/header :: nav}"/>

<div class="container">
  <div class="row">
    <h1>更新用户 </h1>
  </div>
</div>

<form th:action="@{'/user/save'}" th:object="${user}" method="post">
  <div class="form-group">
    <label for="displayName">用户姓名</label>
    <input type="text" class="form-control" th:field="*{displayName}" id="displayName"  >
    <label for="username">用户账号</label>
    <input type="text" class="form-control" th:field="*{username}" id="username"  >
    <label for="password">密码</label>
    <input type="password" class="form-control"  th:field="*{password}" id="password">
    <label for="roles">角色</label>
    <input type="text" class="form-control"  th:field="*{roles}" id="roles">
    <label for="scopes">门店</label>
    <input type="text" class="form-control"  th:field="*{scopes}" id="scopes">
    <label for="effectiveData">生效时间</label>
    <input type="datetime" class="form-control"  th:field="*{effectiveData}" id="effectiveData">
    <input type="hidden" name="curMode" id="curMode">
    <input type="hidden" name="id" th:field="*{id}">
    <input type="hidden" name="activeFlag" th:field="*{activeFlag}">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <a type="button" class="btn btn-secondary" th:href="@{/users}">Cancel</a>
</form>
<div th:replace="~{fragments/footer ::footer}"/>
</body>
</html>